name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # 1. 파이썬 및 필수 도구 설치
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libssl-dev libffi-dev python3-dev openjdk-17-jdk unzip zip
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      # 2. 빌드 시작 (설계도 buildozer.spec을 읽어서 실행)
      - name: Build with Buildozer
        run: |
          yes | buildozer android debug

      # 3. 결과물(APK) 업로드
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
